# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# API URLs
BACKEND_URL=http://localhost:3001
RPC_URL=https://api.zan.top/public/starknet-sepolia
ZTARKNET_RPC_URL=https://ztarknet-madara.d.karnot.xyz
GITHUB_URL=https://github.com/merkle-groot/zstarkwarp

# Add your environment variables here